<section>

  <header class="page-header">
    <h1>Dashboard</h1>
  </header>

  <div>
    <%= link_to "Total Products: #{@product_count}", "admin/products#index" %>
  </div>

  <div>
    <%= link_to "Total Categories: #{@category_count}", "admin/products#index" %>
  </div>

</section>
