<section>
  
  <header class="page-header">
    <h1>About us</h1>
  </header>

  <h4>
    Thank you for visiting Card Shop. We are a hobby store for all things related to trading cards. Currently
    we sell Pokemon, Yu-Gi-Oh, Magic The Gathering, Basketball and baseball cards.
  </h4>

</section>