<section>
  
  <header class="page-header">
    <h1>About us</h1>
  </header>

  <h4>
    Thank you for visiting Jungle. We have been selling goofy items since 1960. 
    Our missions is to bring you the best products that aim to solve problems that do not exist.
  </h4>

</section>