<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      table, td, th {
         border: 1px solid black;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
